@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

// COLORES

$grisFondo: #F6F3F0;

// COLORES ---

// FONTS ---

body{
    font-family: "Libre Baskerville", serif;
    background: $grisFondo;
}

// FONTS ---

// NAV

nav{
    width: 87.25%;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    >:nth-child(1){
        display: flex;
        >:nth-child(1){
            width: 200px;
            img{
                width: 100%;
            }
        }
    }
    >:nth-child(2){
        display: flex;
        flex-flow: column wrap;
        gap: 1rem;
        >:nth-child(1){
            display: flex;
            flex-flow: column wrap;
            gap: .4rem;
            cursor: pointer;
            span{
                width: 50px;
                height: 2px;
                background: black;
            }

        }
        >:nth-child(1):hover{
           span{
            background: red;
           }
        }
        >:nth-child(2){
            display: flex;
            flex-flow: column wrap;
            gap: 1rem;
            display: none;
            span{
                width: 50px;
                height: 2px;
                background: black;
            }

        }
    }
}

// NAV ---