@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

// COLORES

$grisFondo: #F6F3F0;
$verde: #4C9082;
$vainilla: #F8EBBF;

// COLORES ---

// *

*{
    // scroll-behavior: smooth;
}

// * ---

// BODY 

body{
    font-family: "Libre Baskerville", serif;
    background: $grisFondo;
}

.bodyToggle{
    overflow: hidden;
}

// BODY ---

// getTop

.getTop{
    position: fixed;
    right: 1.5%;
    bottom: 2%;
    border-radius: 50%;
    background: #252525;
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: flex;
    place-content: center;
    align-items: center;
}

// getTop ---

// progress

.progress {
    position: fixed;
    width: .5%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 12;
    #progress-container {
        width: 100%;
        height: 100%;
        background-color: transparent;
        #progress-bar {
            width: 100%;
            height: 2%;
            background: $verde;
            transform-origin: top;
        }
    }
}

// progress-deactivate ---

.progressDeactivate{
    display: none;
}

// progress-deactivate ---

// progress ---

// toggleMenu

.toggleMenu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $grisFondo;
    z-index: 10;
    display: flex;
    place-content: center;
    align-items: center;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    >:nth-child(1){
        width: 87.25%;
        max-width: 1200px;
        height: 95%;
        justify-content: space-between;
        display: flex;
        flex-flow: column wrap;
        transform: translateY(50%);
        opacity: 0%;
        >:nth-child(2){
            display: flex;
            justify-content: center;
            text-align: center;
            >:nth-child(1){
                >div{
                    margin: 0 auto;
                    display: flex;
                    flex-flow: row wrap;
                    margin-top: 20px;
                    >div{
                        display: flex;
                        flex-flow: column wrap;
                        gap: .15rem;
                        cursor: pointer;
                        >div{
                            a{
                                all: unset;
                                font-size: 30px;
                                cursor: pointer;
                                transition: .35s;
                                font-weight: 500;
                                &:hover{
                                    color: $verde;
                                    transition: .35s;
                                }
                            }
                        }
                        >:nth-child(2){
                            height: 2px;
                            width: 0%;
                            transition: .35s;
                            background: $verde;

                        }
                    }
                    >div:hover{
                        a{
                            color: $verde;
                        }
                        >:nth-child(2){
                            background: $verde;
                            width: 100%;
                            transition: .35s;
                        }
                    }
                }
            }
        }
        >:nth-child(3){
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: space-between;
            >div{
                p, a{
                    all: unset;
                    font-size: 15px;
                    justify-content: space-between;
                    font-family: 'arial';
                    color: #3e3e3e;
                }
                a{
                    cursor: pointer;
                }
                p{
                    cursor: default;
                }
                p::selection{
                    background: none;
                }
            }
            >:nth-child(2){
                text-align: center;
            }
        }
    }
}

// toggleMenuActive

.toggleMenuActive{
    visibility: visible;
    opacity: 1;
    >:nth-child(1){
        transform: translateY(0%);
        opacity: 100%;
        transition: .75s;
    }
}

// toggleMenuActive ---

// toggleMenuMedia

@media(max-width:420px){
    .toggleMenu{
        >:nth-child(1){
            >:nth-child(2){
                >:nth-child(1){
                    >div{
                        >div{
                            display: flex;
                            flex-flow: column wrap;
                            gap: .15rem;
                            >div{
                                a{
                                    all: unset;
                                    font-size: 20px;
                                    transition: .3s;
                                }
                            }
                        }
                    }
                }
            }
            >:nth-child(3){
                flex-flow: column wrap;
                justify-content: center;
                gap: .5rem;
                >div{
                    p, a{
                        all: unset;
                        font-size: 14px;
                        transition: 1s;
                    }
                }
            }
        }
    }
}

// toggleMenuMedia

// toggleMenu ---

// NAV

nav{
    width: 100%;
    position: fixed;
    display: flex;
    place-content: center;
    align-items: center;
    top: 0;
    background: $grisFondo;
    z-index: 11;
    transform: translateY(-70%);
    >:nth-child(1){
        width: 87.25%;
        max-width: 1200px;
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding: 1.75rem 0rem;
        >:nth-child(1){
            display: flex;
            >:nth-child(1){
                width: 196px;
                img{
                    width: 100%;
                }
            }
        }
        >:nth-child(2){
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-end;
            align-items: center;
            gap: 1rem;
            position: relative;
            width: 52.5px;
            >:nth-child(1), :nth-child(2){
                display: flex;
                flex-flow: column wrap;
                gap: .4rem;
                align-items: flex-end;
                cursor: pointer;
                span{
                    width: 52.5px;
                    height: 2.75px;
                    background: black;
                    border-radius: 8px;
                }
                >:nth-child(1){
                    transition: .3s;
                }
                >:nth-child(2){
                    transition: .45s;
                }
            }
            >:nth-child(2){
                display: flex;
                flex-flow: column wrap;
                align-items: center;
                place-content: center;
                position: absolute;
                gap: 0rem;
                transition-delay: 0s;
                >:nth-child(1), >:nth-child(2){
                    position: relative;
                    display: flex;
                    background: none;
                    div{
                        background: $verde;
                        height: 3px;
                        width: 0%;
                        transition: .2s;
                        border-radius: 8px;
                    }
                }
                >:nth-child(1){
                    transform: rotate(135deg) translateX(2.75px) translateY(-1px) scale(.75);
                }
                >:nth-child(2){
                    transform: rotate(-135deg) translateY(0px) scale(.75);
                }
            }
        }
        >:nth-child(2):hover{
            >div{
                span{
                    background: $verde;
                }
            }
        }
    }
}

// navigationIDAnimation

.navigationIDAnimation{
    transform: translateY(0);
    opacity: 100;
    transition: .5s;
}

// navigationIDAnimation ---

// ONSCROLL NAV ANIMATION

.navSroll{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    >:nth-child(1){
        padding: 1.4rem 0rem;
    }
}

// ONSCROLL NAV ANIMATION ---

// navIDtoggleMenuActive

.navIDtoggleMenuActive{
    background: $grisFondo;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    >:nth-child(1){
        >:nth-child(2){
            >:nth-child(1){
                span{
                    background: $verde;
                    width: 0px;
                }
            }
            >:nth-child(2){
                transition-delay: .15s;
                >:nth-child(1), >:nth-child(2){
                    div{
                        width: 100%;
                        transition: .65s;
                    }
                }
                >:nth-child(1){
                    div{
                        transition-delay: .2s;
                    }
                }
            }
        }
    }
}

// navIDtoggleMenuActive ---

// NAV MEDIA

@media(max-width: 300px){
    nav{
        >:nth-child(1){
            flex-flow: column wrap;
            gap: 1rem;
        }
    }
}

// NAV MEDIA ---

// NAV ---

// HEADER

header{
    text-align: center;
    margin: 0 auto;
    width: 87.25%;
    max-width: 1200px;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    align-items: center;
    margin-top: 100px;
    >:nth-child(1){
        transform: translateY(5%);
        opacity: 0;
        transition: .5s;
        h1{
            all: unset;
            font-size: 33.5px;
            line-height: 45px;
            font-weight: 500;
        }
    }
    >:nth-child(2){
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        transform: scale(.85);
        opacity: 0;
        transition: .5s;
        >:nth-child(1){
            width: 100%;
            max-width: 900px;
            video{
                width: 100%;
            }
        }
        >:nth-child(2){
            display: none;
            width: 100%;
            max-width: 900px;
            img{
                width: 100%;
            }
        }
    }
}

// navigationIDAnimation

.headerIDAnimation{
    >:nth-child(1){
        transform: translateY(0%);
        opacity: 100;
    }
    >:nth-child(2){
        transform: scale(1);
        opacity: 100;
    }
}

// navigationIDAnimation ---

// HEADER MEDIA

@media(max-width: 710px){
    header{
        >:nth-child(1){
            h1{
                all: unset;
                font-size: 22.5px;
            }
        }
        >:nth-child(2){
            >:nth-child(1){
                display: none;               
            }
            >:nth-child(2){
                display: flex;
                max-width: 900px;
            }
        }
    }
}

@media(max-width: 460px){
    header{
        >:nth-child(1){
            h1{
                all: unset;
                font-size: 18px;
                br{
                    display: none;
                }
            }
        }
    }
}

// HEADER MEDIA ---

// HEADER ---

// SECTION

section{
    width: 87.5%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 5rem;
    margin-top: 150px;
    >:nth-child(1){
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 1.5rem;
        text-align: center;
        margin: 0 auto;
        width: 71%;
        h2,p{
            all: unset;
        }
        h2{
            font-size: 33.5px;
            font-weight: 500;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
            line-height: 26.5px;
            font-size: 17px;
            color: rgb(44, 44, 44);
        }
        .sectionTextLock{
            transform: translateY(50%);
            opacity: 0;
        }
        .animationN1{
            transform: translateY(0%);
            opacity: 100%;
           transition: .75s;
           transition-delay: .5s;
        }
    }
    >:nth-child(2){
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        >:nth-child(1){
            width: 80%;
            max-width: 900px;
            video{
                width: 100%;
            }
        }
        >:nth-child(2){
            display: none;
            width: 100%;
            max-width: 900px;
            img{
                width: 100%;
            }
        }
    }
}

// SECTION MEDIA

@media(max-width: 710px){
    section{
        gap: 2rem;
        margin-top: 50px;
        >:nth-child(1){
            width: 100%;
            h2{
                font-size: 22.5px;
            }
            p{
                font-size: 16px;
            }
        }
        >:nth-child(2){
            >:nth-child(1){
                display: none;
            }
            >:nth-child(2){
                display: block;
            }
        }
    }
}

@media(max-width: 460px){
    section{
        >:nth-child(1){
            h2{
                font-size: 18px;
            }
            p{
                font-size: 15px;
            }
        }
    }
}

// SECTION MEDIA ---

// SECTION ---

// MAIN

main{
    width: 87.5%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 5rem;
    margin-top: 150px;
    >:nth-child(1){
        text-align: center;
        opacity: 0%;
        transform: translateY(50%);
        h3{
            all: unset;
            font-size: 33.5px;
        }
    }
    .animationN2{
        transition: .75s;
        transition-delay: .5s;
        opacity: 100;
        transform: translateY(0%);
    }
    >:nth-child(2){
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 1.5rem;
        >div{
            background: $vainilla;
            display: flex;
            flex-flow: column wrap;
            gap: 1.5rem;
            flex: 1;
            text-align: center;
            padding: 2.5rem 0rem;
            opacity: 0%;
            transform: translateY(25%);
            h3, p{
                all: unset;
            }
            h3{
                font-weight: 400;
                font-size: 70px;
            }
            p{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                color: #252525;
            }
        }
        >:nth-child(1){
            transition: .5s;
            transition-delay: .45s;
        }
        >:nth-child(2){
            transition: .5s;
            transition-delay: .65s;
        }
        >:nth-child(3){
            transition: .5s;
            transition-delay: .85s;
        }
        .animationN3{
            opacity: 100%;
            transform: translateY(0%);
        }
    }
}

// MAIN MEDIA

@media(max-width: 900px){   
    main{
        gap: 2.5rem;
        margin-top: 75px;
        >:nth-child(1){
            h3{
                all: unset;
                font-size: 22.5px;
            }
        }
        >:nth-child(2){
            flex-flow: column wrap;
            width: 100%;
            gap: 1rem;
            >div{
                width: 100%;
                gap: 1.5rem;
                padding: 2.5rem 0rem;
                h3{
                    font-size: 50px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}

@media(max-width: 460px){   
    main{
        gap: 2rem;
        margin-top: 50px;
        >:nth-child(1){
            h3{
                all: unset;
                font-size: 18px;
            }
        }
        >:nth-child(2){
            >div{
                gap: 1.25rem;
                padding: 2rem 0rem;
                h3{
                    font-size: 40px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}

// MAIN MEDIA ---

// MAIN ---

// ASIDE

aside{
    width: 87.5%;
    max-width: 1200px;
    display: flex;
    flex-flow: column wrap;
    margin: 0 auto;
    margin-top: 150px;
    gap: 5rem;
    >:nth-child(1){
        display: flex;
        flex-flow: column wrap;
        text-align: center;
        gap: 1.5rem;
        transform: translateY(50%);
        opacity: 0%;
        h2, p{
            all: unset;
        }
        h2{
            font-size: 32.5px;
        }
        p{
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .asideTxtAnim{
        transform: translateY(0);
        opacity: 100%;
        transition: 1s;
    }
}

// ASIDE ---

// ARTICLE

article{
    width: 87.5%;
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 5.5rem;
    margin-top: 150px;
    >:nth-child(1){
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
        gap: 2rem;
        opacity: 0;
        transform: translateY(50%);
        h2, p{
            all: unset;
        }
        h2{
            font-size: 32.5px;
        }
        p{
            font-size: 18px;
            color: #252525;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    .articleTxtAnim{
        opacity: 100;
        transform: translateY(0%);
        transition: 1s;
    }
    >:nth-child(2){
        display: flex;
        flex-flow: column wrap;
        gap: 4.5rem;
        width: 100%;
        >div{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 100%;
            gap: 2.5rem;
            >div{
                display: flex;
                flex-flow: column wrap;
                text-align: center;
                flex: 1;
                text-align: center;
                gap: .75rem;
                cursor: pointer;
                opacity: 0;
                transform: translateY(50%);
                >:nth-child(1){
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: center;
                    gap: .65rem;
                    div{
                        width: 100%;
                        max-width: 25px;
                        border-radius: 50%;
                        background: #E6E2F8;
                        padding: .35rem;
                        img{
                            width: 100%;
                        }
                    }
                }
                h3, h5, p{
                    all: unset;
                }
                h3{
                    font-size: 27px;
                }
                h5{
                    font-size: 18px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 700;
                }
                p{
                    font-size: 17px;
                    font-family: Arial, Helvetica, sans-serif;
                    color: #252525;
                }
            }
            >div:hover{
                >:nth-child(1){
                    div{
                        scale: 1.1;
                    }
                }
            }
            .animationPeople{
                opacity: 100;
                transform: translateY(0);
                transition-delay: 5s;
                transition: 1s;
            }
        }
    }
}

@media(max-width: 700px){
    article{
        gap: 2.5rem;
        margin-top: 75px;
        >:nth-child(1){
            gap: 1.5rem;
            h2{
                font-size: 22.5px;
            }
            p{
                font-size: 17px;
                br{
                    display: none;
                }
            }
        }
        >:nth-child(2){
            gap: 2.5rem;
            >div{
                display: flex;
                flex-flow: column wrap;
                justify-content: space-between;
                width: 100%;
                gap: 3.5rem;
                >div{
                    gap: 1.5rem;
                    >:nth-child(1){
                        div{
                            max-width: 20px;
                        }
                    }
                    h3{
                        font-size: 20px;
                    }
                    h5{
                        font-size: 17px;
                    }
                    p{
                        font-size: 16px;
                    }
                }
            }
        }
    }    
}

// ARTICLE ---