@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
body {
  font-family: "Libre Baskerville", serif;
  background: #F6F3F0;
}

nav {
  width: 87.25%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 28px;
}
nav > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav > :nth-child(1) > :nth-child(1) {
  width: 200px;
}
nav > :nth-child(1) > :nth-child(1) img {
  width: 100%;
}
nav > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1rem;
}
nav > :nth-child(2) > :nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 0.4rem;
  cursor: pointer;
}
nav > :nth-child(2) > :nth-child(1) span {
  width: 50px;
  height: 2px;
  background: black;
}
nav > :nth-child(2) > :nth-child(1):hover span {
  background: red;
}
nav > :nth-child(2) > :nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  gap: 1rem;
  display: none;
}
nav > :nth-child(2) > :nth-child(2) span {
  width: 50px;
  height: 2px;
  background: black;
}